@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;
    }
    p {
        @apply inline-block;
    }
}

@layer components {
    .nowside-container-sm {
        @apply w-full max-w-[306px];
    }
    .nowside-container-md {
        @apply w-full max-w-[966px];
    }
    .nowside-container-lg {
        @apply mx-auto w-full max-w-[1296px];
    }
    .nowside-shadow {
        @apply bg-white dark:bg-C_black rounded-lg ring-1 ring-C_gray-300 dark:ring-0 shadow-xl dark:shadow-gray-800;
    }
    .nowside-backgroundImage {
        @apply overflow-hidden bg-center bg-cover;
    }
    .nowside-button-white-md {
        @apply py-2 mr-6 w-[196px] text-lg font-bold shadow-lg text-C_blue-700 bg-white hover:bg-C_gray-100 rounded border-2 border-C_gray-300;
    }
    .nowside-button-lightGreen-md {
        @apply py-2 w-[196px] text-lg font-bold shadow-lg text-white bg-C_green-500 hover:bg-C_green-400 rounded;
    }
    .nowside-button-blue-md {
        @apply flex justify-center items-center w-[196px] h-[46px] text-lg font-bold text-white bg-C_blue-500 hover:bg-C_blue-400 rounded;
    }
    .nowside-button-darkBlue-lg {
        @apply block py-4 mb-6 w-full text-xl font-bold text-center text-white bg-C_blue-600 hover:bg-C_blue-500 rounded focus:outline-none cursor-pointer;
    }
    .nowside-button-lightBlue-lg {
        @apply flex justify-center py-4 mb-6 w-full text-xl font-bold text-C_blue-600 bg-C_blue-100 hover:bg-[#E0F1FF] rounded border border-C_blue-300;
    }
    .nowside-input {
        @apply w-full tracking-wide text-C_blue-600 dark:text-C_blue-200 bg-C_gray-100 dark:bg-[#333333] rounded border border-C_gray-300 dark:border-C_gray-900 focus:border-C_green-500 focus:ring-C_green-500 form-input;
    }
    .nowside-checkbox {
        @apply mr-2 checked:bg-C_green-500 checked:hover:bg-C_green-500 checked:focus:bg-C_green-500 rounded-[4px] border-C_gray-700 focus:ring-C_green-500 form-checkbox;
    }
    .nowside-textarea {
        @apply p-2 w-full tracking-wide text-C_blue-600 dark:text-C_blue-200 bg-C_gray-100 dark:bg-[#333333] rounded border-2 border-C_gray-300 dark:border-C_gray-900 focus:border-C_green-500 focus:outline-none focus:ring-C_green-500 form-textarea;
    }
    .nowside-peerInput {
        @apply p-3 pt-10 pb-6 w-full h-10 placeholder:text-transparent text-C_gray-700 bg-C_gray-100 dark:bg-[#333333] rounded border border-C_gray-700 dark:border-C_gray-900 focus:border-C_green-500 dark:focus:border-C_green-500 focus:outline-none;
    }
    .nowside-peerLabel {
        @apply absolute -top-0.5 peer-placeholder-shown:top-2 peer-focus:-top-0.5 left-0 pt-2.5 pl-3 text-sm peer-placeholder-shown:text-lg peer-focus:text-sm peer-placeholder-shown:text-C_gray-700 text-C_gray-700 peer-focus:text-C_green-500 transition-all;
    }
    .nowside-peerFilled {
        @apply text-C_green-500;
    }
    .nowside-genderRadio {
        @apply mr-2 text-C_green-500 focus:ring-C_green-500 form-radio;
    }
    .nowside-searchSelect {
        @apply py-2 pr-6 pl-2 mr-8 w-40 text-lg font-medium text-center text-white bg-C_blue-700 hover:bg-C_blue-600 rounded border-0 form-select;
    }
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h3 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 15em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
